/* TITILLIUM WEB BOLD*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Titillium+Web:wght@600&display=swap');
/* TITILLIUM WEB NORMAL*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Titillium+Web&display=swap');


body{
    background-color: #fefefe;
}

.superiore{
    background-color: #091540;
    color: #fefefe;
    font-family: Titillium Web,Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 15px;
    position: relative;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -0.5rem;
}

.superiore .intestazione1{
   margin-left: 2rem;
}


.superiore:hover{
    color: #ABD2FA;
    transition-duration: 0.2s;
}

.gradiente{
    background-color: orange;
    position:relative;
    height: 10px;
    margin-left: -2rem;
    margin-right: -1rem;
}

.presentazione{
    background-color: #D0CDD7;
    color: #fefefe;
    font-family: Titillium Web,Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 15px;
    position: relative;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -0.1rem;
}

.presentazione h1{
    margin-left: 2rem;
}

.presentazione p{
    margin-left: 20rem;
    margin-top: -4rem;
    text-align: justify;
    margin-right: 2rem;
}

.lavori{
    background-color: #091540;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fefefe;
    height: 4rem;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-top: -1rem;
}

.lavori .lavoro1{
    margin-left: 3rem;
    top: 1rem;
}

.barra{
    background-color: orange;
    margin-top: 2rem;
    width: 0.8rem;
    margin-left: 1rem;
    height: 10rem;

}

.ese1{
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
    margin-left: 3.5rem;
    margin-top: -12.7rem;
}

.ese1 p{
    font-size: 16px;
    text-align: justify;
    margin-right: 2rem;
    margin-top: -2rem;
}

.ese1 .b1{
    font-size: 15px;
    position: absolute;
    background-color: #000;
    color: #fefefe;
    text-decoration: none;
    padding: 7px;
    text-align: center;
    margin-top: -0.3rem;

}

.b1 a{
    text-decoration: none;
    color: #fefefe;

}

.b1 :hover{
    color: gray;

}

.barra2{
    background-color: orange;
    margin-top: 8rem;
    width: 0.8rem;
    margin-left: 1rem;
    height: 10rem;
}
.ese2{
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
}

.ese2 h1{
    font-size: 40px;
    margin-left: 3rem;
    margin-top: -11rem;
}

.ese2 p{
    text-align: justify;
    margin-left: 3rem;
    margin-top: -2rem;
    text-decoration: none;
}

.b2 a{
    background-color: #000;
    position: absolute;
    margin-left: 3rem;
    margin-top: 1rem;
    padding: 7px;
    text-decoration: none;
    color: #fefefe;
}

.b2 :hover{
    color: gray;
    background-color: #091540;
    transition-duration: 0.3s;
}

.barra3, #barra4{
    background-color: orange;
    width: 0.8rem;
    height: 10rem;
    margin-left: 1rem;
    margin-top: 8rem;
}

.ese3, #ese4{
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
}

.ese3 h1, #ese4 h1{
    font-size: 40px;
    margin-left: 3rem;
    margin-top: -11rem;
}

.ese3 p, #ese4 p{
    font-size: 15px;
    text-align: justify;
    margin-left: 3rem;
    margin-top: -2rem;
}


.b3 a, .b4 a{
    background-color: #000;
    position: absolute;
    margin-left: 3rem;
    margin-top: -0.2rem;
    padding: 7px;
    text-decoration: none;
    color: #fefefe;
}


.b3, .b4 :hover{
    color: gray;
    background-color: #091540;
    transition-duration: 0.2s;
}

.barrafinale{
    background-color: #1f65d6;
    height: 15px;
    margin-top: 10rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.finale{
    background-color: #0f3da9;
}

img{
    filter: invert(100%);
    height: 5rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

.finale{
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fefefe;
    height: 10rem;
    margin-right: -1rem; 
    margin-left: -1rem;

}

.finale p{
    margin-left: 9rem;
    margin-top: -5.3rem;
}