@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
    background-color: #70A9A1;
}

.intestazione{
    text-align: center;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #FFFF;
}


.intestazione_tabella{
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    color: #FFFF;
    text-align: center;
    background-color: #1F363D;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    color: #FFFF;
    border: 2px solid #fefefe;
    border-collapse: collapse;
    text-align: center;
}

table tr, td{
    border: 2px solid #fefefe;
    border-collapse: collapse;
}

.dispari{
    background-color: #40798C;
    color: #9EC1A3;
}

.nomi{
    text-align: left;
}

.endpage{
    background-color: #1F363D;
    margin-top: 40rem;
    padding: 3rem;
    position: relative;
    font-size: 25px;
    color: #FFFF;
    text-align: left;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    margin-left: -1rem;
    margin-right: -2rem;
    bottom: -1rem;
}

#button{
    position: relative;
    top: 5rem;
    margin: auto;
    width: 11rem;
    background-color: #001d3d;
    height: 3rem;
    border-radius: 11px;
    color: #fefefe;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#button a{
    color: #fefefe;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    top: 0.2rem;
    margin-left: 0.2rem;
}

#button .material-symbols-outlined{
    position: relative;
    left: 0.5rem;
    top: 0.6rem;
}

#button:hover{
    background-color: #044386;
    cursor: pointer;
    transition: 0.2s;
}

